<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.MapNavigator" version="1.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MapNavigator</name>
    <js-module name="MapNavigator" src="www/MapNavigator.js">
        <clobbers target="cordova.plugins.MapNavigator"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MapNavigator">
                <param name="ios-package" value="MapNavigator"/>
            </feature>
        </config-file>
        <source-file src="src/ios/MapNavigator.m"/>
        <header-file src="src/ios/MapNavigator.h"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MapNavigator">
                <param name="android-package" value="cordova.plugin.MapNavigator.MapNavigator"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/MapNavigator.java" target-dir="src/cordova/plugin/MapNavigator/MapNavigator"/>
    </platform>
</plugin>